.days_container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 2rem;
}

.image_container {
   width: 6rem;
   height: 6rem;
   border-radius: 5rem;
   background-color: white;
}

.data_container {
   background-color: white;
   width: 10rem;
   height: 4.5rem;
   border-radius: 1rem;
}
