.image_container {
   background: #d0d0d000;
   width: 30rem;
   height: 20rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.data_current_container {
   width: 45rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: #fff;

   & .temp {
      font-weight: 600;
      font-size: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   & .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .region_country {
         padding-top: none;
         line-height: 1rem;
         font-size: 2rem;
      }
   }

   & .condition {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > * {
         margin: 0;
      }

      & .text_cond {
         font-weight: 300;
      }
   }
}
